<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C&M Enterprise Console</title>
    <link rel="stylesheet" href="../../static/css/enterprise/landing-page.css">
</head>
<body class="font-sans">
    <div class="grid div-container gird-col2 p-4 gap-4 " style="display: grid;">
        <div class="div-wrap flex flex-col gap-4 p-6 md:p-10" style="padding: 40px;">
            <div class="div-content flex justify-center gap-2 md:justify-start">
                <a href="/" class="flex items-center gap-2 font-medium">
                    <div class="h-7 flex items-center justify-center">
                        <img class="max-h-full object-contain" src="../../static/image/enterprise/logo.png" alt="">
                    </div>
                </a>
            </div>
            <div id="login-div-wrap" class="flex flex-1 items-center justify-center">
                <div class="w-full max-w-sm space-y-6" style="width: 384px; height: 216px;">
                    <div class="space-y-2 text-left">
                        <h1 class="text-4xl font-bold tracking-tight whitespace-pre-line">기업 브랜딩부터<br> 광고, 채용, 문의 대응까지 한 곳에서</h1>
                        <p class="text-muted-foreground">기업 관리자로 등록된 로켓펀치 계정으로 로그인하세요.</p>
                    </div>
                    <div class="space-y-4">
                         <button class="font-medium text-sm px-6 rounded-md gap-2 justify-center items-center w-full h-10 bg-primary text-primary-foreground" style="cursor: pointer;">
                        기업 로그인
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative lg:block hidden rounded-2xl overflow-hidden" style="width: 696px; height: 699px;">
            <!-- <img src="../../static/image/background-enterprise-landingpage2.png" alt="로그인 배경" class="absolute inset-0 h-full w-full object-cover shadow-2xl"> -->
            <div class="satellites">
                <img class="satellite" style="--i: 0" src="https://cdn.simpleicons.org/javascript">
                <img class="satellite" style="--i: 60" src="https://cdn.simpleicons.org/javascript">
                <img class="satellite" style="--i: 120" src="https://cdn.simpleicons.org/javascript">
                <img class="satellite" style="--i: 180" src="https://cdn.simpleicons.org/javascript">
                <img class="satellite" style="--i: 240" src="https://cdn.simpleicons.org/javascript">
                <img class="satellite" style="--i: 300" src="https://cdn.simpleicons.org/javascript">
            </div>
        </div>
    </div>
</div>
</div>
</body>
<script src="../../static/js/enterprise/landing-page.js"></script>
</html>