/* 전역 색상 변수 임포트 */
@import url('../common/global-colors.css');


/* .25rem = 4px */

* {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
}

body {
    background-color: oklch(.145 0 0);
    color: var(--text-primary);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1{
    margin-bottom: 8px;
}

/*  */

.overflow-hidden{
    overflow: hidden;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

/* padding gap justify-center items-center */

.p-4{
    padding: 16px;
}

.p-6{
    padding: 24px;
}

.px-6{
    padding-inline: 24px;
}

.gap-2 {
     gap: 8px;
}

.gap-4{
    gap: 16px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

/* text */

.text-left {
    text-align: left;
}

.text-4xl {
    font-size: 36px;
    line-height: 1.1111;
}

.text-sm {
    font-size: 14px;
    line-height: 1.42857;
}

.text-muted-foreground {
    color: oklch(.708 0 0);
}

.text-primary-foreground {
    color: oklch(.205 0 0);
}

.rounded-md {
    border-radius: 8px;
}

.rounded-2xl {
    border-radius: 16px;
}

/* flex flex-col */
.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

/* full */
.max-w-sm {
    max-width: 24rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

/* font CSS */
.font-sans {

}

.font-medium {
    font-weight: 500;
}

.font-bold {
    font-weight: 700;
}

/* div-container */

@media(width >= 64rem) {
.gird-col2 {
    grid-template-columns: repeat(2, minmax(0,1fr));
}
}

.gird {
    display: grid;
}

.div-container {
    min-height: 100svh;
}

/* div-wrap */
@media(width>=48rem){
.md\:p-10{
    padding: 40px;
}

}

.div-wrap {

}

/* div-content */
@media(width>=48rem){
.md\:justify-start{
    justify-content: flex-start;
}
}

/* 상단 아이콘 div */
.h-7 {
    height: 100px;
}

/* 상단 아이콘 img */

.max-h-full {
    max-height: 100%;
}
.object-contain{
    object-fit: contain;
}


/* log-div-wrap */




/* log-div-wrap안에 div space-y-2 */
:where(.space-y-6>:not(:last-child)){
    margin-block-start: 0px;
    margin-block-end: 24px;
}

/* div space-y-2안에 h1태그 */
.whitespace-pre-line {
    white-space: pre-line;
}

.tracking-tight {
    letter-spacing: -0.9px;
}

/* 로그인 버튼 */
.h-10 {
    height: 40px;
}

.bg-primary {
    background-color: oklch(.922 0 0);
}

/* second div-wrap */
@media(width>=64rem){
    .lg\:block {
        display: block;    
    }

}

/* 로그인 이미지 */
  
.object-cover {
    object-fit: cover;
}

/* 이미지 돌게하기 */

.satellites {
    animation: rotate-axis 20s linear infinite;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
}

@keyframes rotate-axis {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes rotate-axis {
    from {
        transform: perspective(800px) rotateY(0deg);
    }
    to {
        transform: perspective(800px) rotateY(360deg);
    }
}

.satellite {
    position: absolute;
    width: 240px;
    height: 699px;
    transform: rotateY(calc(var(--i) * 1deg)) translateZ(300px);
    margin-top: -100px;

}
